Source: libtext-amuse-preprocessor-perl
Section: perl
Priority: optional
Maintainer: Marco Pessotto <melmothx@gmail.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libhtml-parser-perl,
 libio-html-perl (>= 1),
 libpod-simple-wiki-perl (>= 0.19),
 libtext-amuse-perl (>= 0.15),
 perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Text-Amuse-Preprocessor

Package: libtext-amuse-preprocessor-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libhtml-parser-perl,
 libio-html-perl (>= 1),
 libpod-simple-wiki-perl (>= 0.19),
 libtext-amuse-perl (>= 0.76)
Description: Helpers for Text::Amuse document formatting.
 This module ships with the following executables:
 .
 html-to-muse.pl (HTML to muse converter)
 .
 muse-check-footnotes.pl (footnote checker)
 .
 muse-rearrange-footnotes.pl (fix footnote numbering)
 .
 pod-to-muse.pl (POD to muse converter)
 .
 muse-preprocessor.pl (script which uses this module)
